@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Patients and Doctors Portal</h2>
    <img src="~/img/patient-portal.jpg" width="100%" height="100%" />
</div>